.mat-column-Id {
    flex: 0 0 25% !important;
    min-width: 100px !important;
}

.mat-column-JobCustomerSalesOrder {
    flex: 0 0 25% !important;
    min-width: 130px !important;
}

.mat-column-JobSiteCode {
    flex: 0 0 25% !important;
    min-width: 125px !important;
}

.mat-column-JobCarrierContract {
    flex: 0 0 25% !important;
    min-width: 180px !important;
}

.mat-column-JobCustomerPurchaseOrder {
    flex: 0 0 25% !important;
    min-width: 180px !important;
}

.mat-column-JobDeliverySitePOC {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobDeliveryPostalCode {
    flex: 0 0 25% !important;
    min-width: 170px !important;
}

.mat-column-JobOrderedDate {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobServiceMode {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobDeliverySitePOCPhone {
    flex: 0 0 25% !important;
    min-width: 185px !important;
}

.mat-column-JobDeliverySitePOCPhone2 {
    flex: 0 0 25% !important;
    min-width: 200px !important;
}

.mat-column-JobDeliverySitePOCEmail {
    flex: 0 0 25% !important;
    min-width: 200px !important;
}

.mat-column-JobDeliverySiteName {
    flex: 0 0 25% !important;
    min-width: 200px !important;
}

.mat-column-JobDeliveryDateTimePlanned {
    flex: 0 0 25% !important;
    min-width: 140px !important;
}

.mat-column-JobOriginDateTimePlanned {
    flex: 0 0 25% !important;
    min-width: 140px !important;
}

.mat-column-PlantIDCode {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobDeliveryCity {
    flex: 0 0 25% !important;
    min-width: 135px !important;
}

.mat-column-JobDeliveryStreetAddress {
    flex: 0 0 25% !important;
    min-width: 180px !important;
}

.mat-column-JobDeliveryStreetAddress2 {
    flex: 0 0 25% !important;
    min-width: 180px !important;
}

.mat-column-JobSellerSiteName {
    flex: 0 0 25% !important;
    min-width: 170px !important;
}

.mat-column-JobOriginDateTimePlanned {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobDeliveryDateTimeActual {
    flex: 0 0 25% !important;
    min-width: 190px !important;
}

.mat-column-JobDeliveryState {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobIsSchedule {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobQtyActual {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobTotalCubes {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobPartsActual {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobOriginDateTimeActual {
    flex: 0 0 25% !important;
    min-width: 150px !important;
}

.mat-column-JobGatewayStatus {
    flex: 0 0 25% !important;
    min-width: 132px !important;
}

table {
    width: 100%;
}

.grid-height {
    height: 430px;
    overflow: auto;
}

// @media only screen and (max-width: 767px) {
//     .grid-height {
//         height: 100%;
//     }
// }
// @media only screen and (min-width: 768px) {
//     .grid-height {
//         height: 430px;
//     }
// }
// @media only screen and (min-width: 768px) {
//     .grid-height {
//         height: 1280px;
//     }
// }
// @media only screen and (max-width: 1024px) {
//     .grid-height {
//         height: 100%;
//     }
// }
