.nav-header {
    background-color: #ececec;
    color: #898989;
    height: 62px;
    margin: 0;
    padding: 0 15px;
    text-align: right;
    width: 100%;
    position: fixed;
}

.header-logo {
    width: 180px
}

.header-content {
    color: #7A94A2;
    text-align: center;
    font-weight: bold;
}

.menu-toggle-icon-pin {
    margin-left: 280px;
}

.menu-toggle-icon-unpin {
    margin-left: 50px;
}

.menu-toggle-icon {
    color: #414042;
    font-size: 40px;
}

.top-nav-link-container {
    width: calc(100% - 330px);
}

.about-link {
    font-size: 18px;
    vertical-align: bottom;
}

.welcome-label {
    font-size: 18px;
    margin-left: 50px;
    vertical-align: bottom;
}

.home-link {
    font-size: 18px;
    margin-left: 20px;
    vertical-align: bottom;
}

::ng-deep .mat-form-field-underline {
    display: none;
}
button:focus {
    outline: none;
    background-color:gray!important;
}

.header {
    background-color:white;
    position: absolute;
    height: 96%;
    width: 100%;
    padding-left: 290px;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    display: inline-block;
    vertical-align: middle;
    padding-top: 25px;
}   

@media (max-width: 768px) {
    .header {
        padding-left: 15px;
    }

    .page-title {
        font-size: medium;
    }
}
.faiconHeader{
    color:#008DFC;
}
.bellFloat{
    float:right;
}
.userBtn{
    color: black;
    background-color: white;
    border: aliceblue;
}
.logoutBtn{
    margin-top: 13px;
}

@media (min-width: 768px) {
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    }
}
@media (min-width: 768px) {
 .navbar-nav>li {
    float: none;
}
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:inherit;
}